Repository HPI-de/hpi-cloud-apis, pull requests merged in 2019-08, with the labels that each got.

#3 feat(food): add restaurant API definitions
  .travis.yml
  hpi/cloud/food/v1test/food_service.proto
  hpi/cloud/food/v1test/restaurant.proto
Labels: C: food, T: feat

#10 feat(course): add course definitions
  hpi/cloud/course/v1test/course.proto
  hpi/cloud/course/v1test/course_service.proto
Labels: C: course, T: feat

#11 feat(myhpi): add MyHPI definitions
  hpi/cloud/myhpi/v1test/info_bit.proto
  hpi/cloud/myhpi/v1test/myhpi_service.proto
Labels: C: myhpi, T: feat

#18 fix(course, myhpi): add java options
  hpi/cloud/course/v1test/course.proto
  hpi/cloud/myhpi/v1test/info_bit.proto
Labels: BREAKING, C: course, C: myhpi, T: fix

#25 fix(news): rename Source, Category, Tag name to title
  hpi/cloud/news/v1test/article.proto
Labels: BREAKING: LIBRARY, C: news, T: fix

#26 fix(course): make CourseDetail teletask + description optional
  hpi/cloud/course/v1test/course.proto
Labels: BREAKING: LIBRARY, C: news, T: fix

#27 fix(news): make Article.view_count nullable
  hpi/cloud/news/v1test/article.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: news, T: fix

#28 fix(news): rename remaining site occurrences to source
  hpi/cloud/news/v1test/article.proto
  hpi/cloud/news/v1test/news_service.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: news, T: fix

#29 fix(course): make Semester.year an int32
  hpi/cloud/course/v1test/course.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: course, T: fix

#30 feat(myhpi): add Action.icon
  hpi/cloud/myhpi/v1test/info_bit.proto
Labels: BREAKING: API, C: myhpi, T: feat

#31 docs(myhpi): document that Action.Text.content can be HTML
  hpi/cloud/myhpi/v1test/info_bit.proto
Labels: C: myhpi, T: docs

#32 fix(course): make CourseSeries more strict
  hpi/cloud/course/v1test/course.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: course, T: fix

#33 feat(common): add Image.aspect_ratio
  hpi/cloud/common/v1test/image.proto
Labels: C: common, T: feat

#34 feat(food): make MenuItem more customizable
  hpi/cloud/food/v1test/restaurant.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: food, T: feat

#35 feat(feedback): add feedback definitions
  hpi/cloud/feedback/v1test/feedback.proto
  hpi/cloud/feedback/v1test/feedback_service.proto
Labels: C: feedback, T: feat
