Repository HPI-de/hpi-cloud-apis, pull requests merged in 2019-10, with the labels that each got.

#49 feat(myhpi): restructure MyHPI
  hpi/cloud/myhpi/v1test/info_bit.proto
  hpi/cloud/myhpi/v1test/myhpi_service.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: myhpi, T: feat

#53 feat(myhpi): add InfoBit.content
  hpi/cloud/myhpi/v1test/info_bit.proto
Labels: BREAKING: LIBRARY, C: myhpi, T: feat

#54 feat(myhpi): make Action.icon a binary png
  hpi/cloud/myhpi/v1test/info_bit.proto
Labels: T: feat

#55 feat(course): add Course.attendance, enrollment_deadline; make CourseSeries.mandatory an enum
  hpi/cloud/course/v1test/course.proto
Labels: BREAKING: API, BREAKING: LIBRARY, C: course, T: feat
